.main-page {
  background: #fff;
  position: relative;
  height: 76%;
  overflow-y: scroll;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
  box-sizing: border-box;

  &__wrapper {
    padding-top: 6px;
    padding-left: 3%;
    padding-right: 3%;
  }
}
